//
// Corner Ribbons
// --------------------------------------------------
// Main style
// --------------------------------------------------
.corner-ribbon-wrapper {
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}

.corner-ribbon {
    width: 200px;
    padding: 10px;
    background: #fff;
    position: absolute;
    text-align: center;
    line-height: 1;
    z-index: 1;
}
/* Custom styles */
.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
/* Different positions */

.corner-ribbon.top-left {
    top: 100px;
    left: -40px;
    transform: rotate(-45deg);
    transform-origin: top left;
}

.corner-ribbon.top-right {
    top: 100px;
    right: -40px;
    left: auto;
    transform: rotate(45deg);
    transform-origin: top right;
}

.corner-ribbon.bottom-left {
    top: auto;
    bottom: 100px;
    left: -40px;
    transform: rotate(45deg);
    transform-origin: bottom left;
}

.corner-ribbon.bottom-right {
    top: auto;
    right: -40px;
    bottom: 100px;
    left: auto;
    transform: rotate(-45deg);
    transform-origin: bottom right;
}
