//
// Modals
// --------------------------------------------------
.modal-header,
.modal-footer {
    border: 0;
}

.modal-content {
    background-color: @btn-default-bg-color;
}

//-------------------------
// Modals progress bar
//-------------------------
.modal .modal-progress {
    height: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.modal .modal-progress .progress {
    margin-bottom: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #333;
}
.modal .modal-progress .progress-bar:last-child {
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media (min-width: 768px) {
    .modal-content {
        box-shadow: @shadow-depth-5;
        border-radius: 2px;
        border: 0;
    }
}