//
// Navbar
// --------------------------------------------------

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.navbar-toggle {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
}

/* Additional style */
.navbar-nav.navbar-breadcrumb>.active>a,
.navbar-nav.navbar-breadcrumb>.active>a:focus,
.navbar-nav.navbar-breadcrumb>.active>a:hover {
    background-color: transparent;
}
.navbar-nav.navbar-breadcrumb>li>a,
.navbar-nav.navbar-breadcrumb>li>.navbar-text {
    display: inline-block;
    float: none;
}
.navbar-nav.navbar-breadcrumb>li+li:before {
    font: normal normal normal 14px/1 FontAwesome;
    color: #ccc;
    content: "\f054";
    padding: 0px 2px;
    line-height: 23px;
    position: relative;
    display: inline-block;
}

@media(min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

@media(max-width: 767px) {
    .navbar {
        // Hide breadcrumb on small screen
        &-nav.navbar-breadcrumb>li+li:before {
            display: none;
        }
    }
}
