// Pagination
// --------------------------------------------------
.pagination>li>a,
.pagination>li>span {
    padding: 0.8em 1.5em;
    border: 0;
    color: @brand-primary;
    transition: all .15s ease-in-out;
    .btn-template(@btn-default-bg-color;
    lighten(#999, 30%);
    lighten(#999, 20%);
    lighten(#999, 12%);
    lighten(#999, 20%));
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pagination>li:not(:first-child)>a,
.pagination>li:not(:first-child)>span {
    border-left: 1px solid @grey-200;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background-color: @btn-default-bg-color;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: @brand-primary;
    border-left: 1px solid @grey-200;
}