//
// Popover
// --------------------------------------------------

.popover {
    border-radius: 2px;
    border-color: @popover-border-color;
    .box-shadow(@shadow-depth-2);
}
.popover.left>.arrow {
    border-left-color: @popover-arrow-color;
}
.popover.right>.arrow {
    border-right-color: @popover-arrow-color;
}
.popover.top>.arrow {
    border-top-color: @popover-arrow-color;
}
.popover.bottom>.arrow {
    border-bottom-color: @popover-arrow-color;
}