//
// Progress Bars
// --------------------------------------------------
.progress {
    position: relative;
    z-index: 1;
    height: 6px;
    border-radius: 0;
    .box-shadow(none);
    &-bar {
        background-color: @progress-bar-bg;
        .box-shadow(none);
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
        &:last-child {
            &:before {
                display: block;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                z-index: -1;
                background-color: lighten(@progress-bar-bg, 35%);
            }
        }
        &-success {
            background-color: @progress-bar-success-bg;
            &:last-child.progress-bar:before {
                background-color: lighten(@progress-bar-success-bg, 35%);
            }
        }
        &-info {
            background-color: @progress-bar-info-bg;
            &:last-child.progress-bar:before {
                background-color: lighten(@progress-bar-info-bg, 45%);
            }
        }
        &-warning {
            background-color: @progress-bar-warning-bg;
            &:last-child.progress-bar:before {
                background-color: lighten(@progress-bar-warning-bg, 35%);
            }
        }
        &-danger {
            background-color: @progress-bar-danger-bg;
            &:last-child.progress-bar:before {
                background-color: lighten(@progress-bar-danger-bg, 25%);
            }
        }
    }
}