//
// Variables
// --------------------------------------------------
@default: #f8f8f8;
@default-text: #333;

@brand-primary: @blue;
@brand-secondary: @grey-600;
@brand-warning: @amber;
@brand-danger: @red;
@brand-success: @green;
@brand-info: @cyan;
@brand-light: #f8f9fa;
@brand-dark: #343a40;
@brand-white: #fff;
@brand-muted: @grey-500;

// Font
@font-size-small: 12px;
@font-size-large: 17px;

// Forms
@form-primary: @grey-700;
@form-secondary: @grey-300;

// Buttons
@btn-default-bg-color: rgba(250, 250, 250, 0.87);

// Navbar
@navbar-default-link-color: #777;
@navbar-inverse-link-color: @grey-300;

// Shadows
@shadow-depth-1: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
@shadow-depth-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
@shadow-depth-3: 0 6px 12px rgba(0,0,0,.16),0 8px 12px rgba(0,0,0,.19);
@shadow-depth-4: 0 9px 15px -1px rgba(0,0,0,.16),0 11px 24px -1px rgba(0,0,0,.23);
@shadow-depth-5: 0 13px 25px -2px rgba(0,0,0,.16),0 13px 28px -2px rgba(0,0,0,.23);

// Tooltip
@tooltip-bg-color: @grey-800;

// Popover
@popover-arrow-color: @grey-300;
@popover-border-color: @grey-100;

// Tables
@table-header-font-weight:      400;
@table-header-font-color:       #757575;

@table-bottom-margin:           2rem;
@table-cell-padding:            1.6rem;
@table-condensed-cell-padding:  0.8rem; //@table-cell-padding/2;


@table-bg:                      transparent;
@table-bg-accent:               @grey-200;
@table-bg-hover:                rgba(0,0,0,.12);
@table-bg-active:               @table-bg-hover;
@table-border-color:            @grey-300;


// For creating contexture variations
// uses brand colors stated on top of this file
@contextures: primary, secondary, warning, danger, success, info, light, dark, white, muted;

// For creating color variations
// You may restrict them to only colors you need
@colors : @default, @red, @pink, @purple, @deep-purple, @indigo, @blue, @light-blue, @cyan, @teal, @green, @light-green, @lime, @yellow, @amber, @orange, @deep-orange, @brown, @grey, @blue-grey;

@textcolors : @default-text, @red-text, @pink-text, @purple-text, @deep-purple-text, @indigo-text, @blue-text, @light-blue-text, @cyan-text, @teal-text, @green-text, @light-green-text, @lime-text, @yellow-text, @amber-text, @orange-text, @deep-orange-text, @brown-text, @grey-text, @blue-grey-text;

@names  : default, red, pink, purple, deep-purple, indigo, blue, light-blue, cyan, teal, green, light-green, lime, yellow, amber, orange, deep-orange, brown, grey, blue-grey;
