.make-color-nav-sidebars(@colors; @names; @textcolors; @index) when (@index > 0) {
    .make-color-nav-sidebars(@colors; @names; @textcolors; (@index - 1));
    @name: extract(@names, @index);
    @color: extract(@colors, @index);
    @textcolor: extract(@textcolors, @index);
    .nav-sidebar-@{name} {
        .nav-sidebar-title {
            background-color: @color;
            .nav-sidebar-brand {
                color: @textcolor;
            }
        }
        .nav-sidebar-menu {
            li.active a,
            li.active a:hover,
            li.active a:focus {
                color: @textcolor;
                background-color: @color;
            }
        }
    }
}
